<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel="stylesheet" href="{% static 'stylesheets/bootstrap522/css/bootstrap.css'%}">
    <script src="{% static 'stylesheets/bootstrap522/js/bootstrap.js'%}" crossorigin="anonymous"></script>
</head>

<body text="red" style="font-family: 'THSarabunNew'">
 <H1 align="center" style="font-size: 20pt">Hello {{ Name }}</H1>
<div id="html2pdf" style="display: block; width: 90%; margin: auto;">
    <H1 align="center" style="font-size: 18pt">รายงานยอดขายประจำเดือนธันวาคม 2565 5555</H1>
    <hr width="50%" align="center" size="5" style="color: red">
    เรียนภาษาโปรแกรมมิ่งที่ได้รับความนิยมสูงสุดในปัจจุบัน ภาษาที่ทำงานได้ครอบจักรวาล <br>
    พร้อมต่อยอดประยุกต์ใช้งานได้หลากหลายด้าน เช่น สร้างเว็บ สร้างแอพ ฯลฯ รวบรวมไว้ครบ จบในที่นี่ มากกว่า 15 คอร์ส<br>
    (ทั้งคอร์สเก่าและใหม่ที่กำลังจะมาถึง) ในราคาที่คุ้มที่สุด ทุกคอร์สสกัดออกมาเนื้อ ๆ เน้น ๆ <br>
    จากประสบการณ์ทำโปรเจคท์งานจริงในแต่ละด้านของผู้สอนแต่ละท่านลดเวลาลองผิดถูกด้วยตัวเอง เพราะเวลาเป็นสิ่งมีค่ายิ่ง <br>
    (เมื่อเข้าใจคอนเซ็ปต์ค่อยไปต่อยอดเองได้) นักเรียนเก่าของเราที่สมัครไว้ภายในปีนี้เท่านั้น <br>
    จะได้มีสิทธิเรียนคอร์สทั้งหมดของเรารวมแล้วกว่า 15 คอร์ส (ปีหน้าจะไม่มีคอร์สแล้วและจะซัพพอร์ตเฉพาะนักเรียนเก่า) <br>
    ปล. มือใหม่หรือผู้เริ่มต้นก็สามารถเรียนได้ครับ เรามีคอร์สปูพื้นให้ในคอร์สแรกสุด ก่อนต่อยอดไประดับสูงขึ้นในคอร์สถัด ๆ ไป <br>
    ลงทะเบียน รับส่วนลดเพิ่มเติม และเริ่มเรียนได้เลยทันทีรายละเอียดเพิ่มเติม <br>
</div>
<br>

<table border="1">
    <tr>
        <th>รหัสวิชา</th>
        <th>ชื่อวิชา</th>
        <th>หน่วยกิต</th>
        <th>เกรด</th>
    </tr>
    <tr>
        <td align="center">s001</td>
        <td align="center">Java</td>
        <td align="center">3</td>
        <td align="center">A</td>
    </tr>
    <tr>
        <td align="center">s001</td>
        <td align="center">Java</td>
        <td align="center">3</td>
        <td align="center">A</td>

    </tr>

    <tr>
        <td align="center">s001</td>
        <td align="center">Java</td>
        <td align="center">3</td>
        <td align="center">A</td>

    </tr>
    <tr>
        <td align="center">s001</td>
        <td align="center">Java</td>
        <td align="center">3</td>
        <td align="center">A</td>

    </tr>
    <tr>
        <td align="center">s001</td>
        <td align="center">Java</td>
        <td align="center">3</td>
        <td align="center">A</td>

    </tr>
    <tr>
        <td align="center">s001</td>
        <td align="center">Java</td>
        <td align="center">3</td>
        <td align="center">A</td>

    </tr>
    <tr>
        <td align="center">s001</td>
        <td align="center">Java</td>
        <td align="center">3</td>
        <td align="center">A</td>

    </tr>

</table>

</body>
</html>